@page
@model MedicalExpertSystem.Pages.Patients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].AppUser.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].AppUser.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].AppUser.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].AppUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].AppUser.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patients) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.PhoneNumber)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
