@page "{id:int}"
@model MedicalExpertSystem.Pages.MedicalDataSets.UserMedicalData.IndexModel
@{
}

<h1>Index</h1>

<p>
    <a asp-page="./Create" asp-route-id="@Model.Patient.Id">Create New</a>
</p>
<dl class="row">
    <dt class="col-sm-5">
        @Html.DisplayNameFor(model => model.Patient.AppUser.DecryptedUser.LastName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Patient.AppUser.DecryptedUser.LastName)
    </dd>
    <dt class="col-sm-5">
        @Html.DisplayNameFor(model => model.Patient.AppUser.DecryptedUser.FirstName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Patient.AppUser.DecryptedUser.FirstName)
    </dd>
</dl>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicalDatas[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalDatas[0].Pregnancies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalDatas[0].Glucose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalDatas[0].BloodPressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalDatas[0].SkinThickness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalDatas[0].Insulin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalDatas[0].DiabetesPedigreeFunction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalDatas[0].Bmi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalDatas[0].Prediction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalDatas[0].Result)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MedicalDatas)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pregnancies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glucose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodPressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkinThickness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insulin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiabetesPedigreeFunction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bmi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prediction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-idMD="@item.Id" asp-route-idP="@item.Patient.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-idMD="@item.Id" asp-route-idP="@item.Patient.Id">Delete</a>
                <form method="POST">
                    <button type="submit" asp-route-idMD="@item.Id" asp-route-idP="@item.Patient.Id" asp-page-handler="CalculatePrediction">Predict</button>
                </form>
            </td>
        </tr>
        }

    </tbody>
</table>
