@page
@model MedicalExpertSystem.Pages.MedicalDataSets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].AppUser.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].AppUser.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patients) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.FirstName)
            </td>
            <td>
                <a asp-page="./UserMedicalData/Index" asp-route-id="@item.Id">Medical Data</a>
            </td>
        </tr>
}
    </tbody>
</table>
