@page
@model MedicalExpertSystem.Pages.MedicalDataSets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicalData[0].Pregnancies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalData[0].Glucose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalData[0].BloodPressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalData[0].SkinThickness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalData[0].Insuline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalData[0].Bmi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalData[0].DiabetesPedigreeFunction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalData[0].Prediction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalData[0].Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalData[0].UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MedicalData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pregnancies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glucose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodPressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkinThickness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insuline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bmi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiabetesPedigreeFunction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prediction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
